html {
  color: rgb(223, 223, 223);
  background-color: black;
}

* {
  box-sizing: border-box;
}

li {
  line-height: 2em;
}

.App {
  text-align: center;
  /* Image Credit: Chris Yuen / WeaponZero */
  background-image: url('../img/KotER_Logo_4K_Fire.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s;
}

.main {
  width: 100%;
  background-image: linear-gradient(rgb(23, 33, 51, 0.9) 30%, rgba(50, 5, 12, 0.9));
  background-size: cover;
  background-attachment: fixed;
  border-left: 1px solid #5b431f;
  border-right: 1px solid #5b431f;
  min-height: 100vh;
}

hr {
  border-top: 1px solid #5b431f;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}

.main p {
  text-align: justify;
  padding-inline: 10px;
}

button,
.button {
  background-image: linear-gradient(rgb(55, 82, 117), rgb(36, 54, 79));
  color: rgb(222, 222, 222);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.9em;
  border: 1px solid transparent;
  transition: all 0.2s;
  margin: 3px;
}

button:active,
.button:active {
  background-image: linear-gradient(rgb(36, 54, 79), rgb(55, 82, 117));
}

button:hover,
.button:hover {
  border: 1px solid rgba(255, 255, 255, 0.397);
  color: white;
}

.h3 {
  font-size: 1.3em;
  font-weight: bold;
}

fieldset {
  /* border: 1px solid rgb(223, 223, 223); */
  border: 1px solid transparent;
  border-top: 1px solid #5b431f;
  /* border-radius: 6px; */
  margin: 3px;
  margin-inline: 5px;
}

details {
  text-align: left;
  margin: 3px;
  margin-inline: 5px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  animation: fadeInOnLoad 0.8s;
}

details > p {
  animation: fadeInOnLoad 0.8s;
}

details:hover {
  border-color: white;
}

summary:active {
  opacity: 0.4;
}

summary:hover {
  cursor: pointer;
}

a,
.linkText {
  color: white;
  text-decoration: underline;
  margin-inline: 0.2em;
}

a,
.linkText:hover {
  cursor: pointer;
  opacity: 0.8;
}

a,
.linkText:active {
  opacity: 0.4;
}

.linkText {
  width: fit-content;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
  justify-content: center;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}

.characterOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.charOverviewDetails {
  min-width: 100%;
}

.errMsg {
  font-weight: bold;
  color: red;
}

.width50 {
  width: 50%;
}

.textLeft {
  text-align: left;
}

.textJustify {
  text-align: justify;
}

.benefitsColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3px;
  margin-inline: 5px;
  text-align: left;
  padding-left: 10px;
  animation: fadeInOnLoad 0.8s ease-in-out;
}

.fadeInOnLoad {
  animation: fadeInOnLoad 0.8s ease-in-out;
}

.getCharInput {
  width: 80%;
  transition: all 0.7s;
  padding: 7px;
  margin: 3px;
}

select {
  padding: 7px;
}

.centerChildren {
  align-items: center;
}

.loadingBar {
  height: 3px;
  width: 500px;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #fff4a1 0%, #5b431f 20%, #5b431f 80%, #fff4a1 100%);
  background-size: 500px 4px;
  animation-name: loadingBar;
}

@keyframes loadingBar {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

@keyframes fadeInOnLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 800px) {
  .main {
    width: 80%;
  }

  .getCharInput {
    width: 50%;
  }
}
