/* Palette: https://coolors.co/0babd9-021622-0a4864-0a0f15-083645-16404e-235962 */

#trailer {
  display: flex;
  flex-direction: column;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  font-family: 'Montserrat', sans-serif;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testing3dbox {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  background-color: red;
  box-shadow: 5px 10px 4px rgba(255, 255, 255, 0.7) inset, 5px 10px 4px rgba(0, 0, 0, 0.7);
}

.centerChildren {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sessionTimeContainer {
  width: 100%;
  margin-bottom: 2em;
}

.sessionTimeRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.sessionTimeRow h2 {
  margin: 0;
  padding: 3px;
  text-align: left;
}

input[type='checkbox'],
.sessionTimeRow input[type='radio'] {
  display: none;
}

input[type='checkbox'] + label,
.sessionTimeRow input[type='radio'] + Label {
  background: linear-gradient(#c80209 0%, #990e1c 59%, #5d0710 60%, #760612 100%);
  width: 50%;
  padding-top: 6px;
  border: 1px solid transparent;
  text-align: center;
  padding-inline: 20px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  letter-spacing: 1px;
  font-size: calc(8px + 2vh);

  /* Prevent text-highlighting:  */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

label[for='rememberMe'],
.sessionTimeRow label {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.1s;
  box-shadow: 3px 5px 4px rgba(255, 255, 255, 0.4) inset, 3px 5px 4px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

input[type='checkbox']:checked + label,
.sessionTimeRow input[type='radio']:hover + label,
.sessionTimeRow input[type='radio']:checked + Label {
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5) inset, 0px 0px 15px 2px hsla(182, 92%, 58%, 0.6);
}

input[type='checkbox']:hover + label,
.sessionTimeRow input[type='radio']:hover + label {
  color: hsla(0, 0%, 100%, 1);
  border: 1px solid #31eff6;
}

input[type='checkbox']:checked + label,
.sessionTimeRow input[type='radio']:checked + Label {
  /* Horizontal, Vertical, Blur, Spread Radius, Colour, Parameter */
  border: 1px solid #31eff6;
  outline: 2px solid hsla(182, 92%, 58%, 0.27);
  color: white;
  text-shadow: 0 0 2px white;
  animation: glowText 1s infinite ease-in;
  animation-direction: alternate;
}

.sessionTimeRow .discountTime + label::after {
  content: ' â—';
}

.discountMsg {
  color: #870a17;
  font-weight: 500;
  text-align: center;
}

.sectionContent p {
  text-align: justify;
}

.stickyFloat {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  font-size: 1em;
  color: white;
  text-align: center;
  background: linear-gradient(20deg, hsla(195, 83%, 37%, 0.9), hsl(196, 95%, 24%));
  border: 2px solid white;
  padding: 5px;
  max-width: 150px;
  opacity: 0.9;
  box-shadow: 0 0 10px hsla(182, 100%, 82%, 0.2);
  border-radius: 12px;
  z-index: 20;
  top: 57px;
  left: 0px;
}

.errorSticky {
  display: block;
  position: fixed;
  font-size: 1em;
  color: black;
  background: white;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 1vh;
  box-shadow: 0 0 10px hsla(182, 100%, 82%, 0.2);
  border-radius: 12px;
  z-index: 20;
  top: 0px;
  right: 0px;
}

.errorMsg {
  color: #c80209;
  font-style: none;
}

@keyframes glowText {
  0% {
    text-shadow: 0 0 1px white;
  }
  100% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.671);
  }
}

.bookingTickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticketDropdownBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  align-self: center;
}

.ticketDropdownBox p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-around;
}

fieldset {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2vh;
}

legend span h2 {
  position: relative;
  top: 50%;
}

fieldset h2 {
  padding-top: 0;
  padding-bottom: 0;
  padding-inline: 5px;
  margin: 2px;
}

select {
  border: 1px solid #0083af;
  border-radius: 4px;
  font-size: 1em;
  margin-bottom: 1vh;
}

select:focus {
  border: 1px solid #31eff6;
  outline: 2px solid hsla(182, 92%, 58%, 0.27);
}

.customerDetails p {
  font-weight: bold;
}

.customerInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1vh;
  font-size: 1em;
}

.customerInput > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.customerInput input {
  margin-left: 5px;
  border: 1px solid #0083af;
  border-radius: 4px;
  font-size: 1em;
}

.customerInput input:focus {
  border: 1px solid #31eff6;
  outline: 2px solid hsla(182, 92%, 58%, 0.27);
}

.customerInput input[pattern]:invalid:not(:placeholder-shown) {
  border: 1px red solid;
  background-color: #fee;
  outline: 2px solid hsla(0, 92%, 58%, 0.27);
}

.submitButtonBackground {
  border-top: 1px solid #31f0f68e;
  padding-top: 1.7em;
  padding-bottom: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  width: 100%;
}

footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media only screen and (min-width: 650px) {
  .sessionTimeContainer {
    width: auto;
  }
  .sessionTimeRow {
    flex-direction: row;
  }

  .sessionTimeRow input[type='radio'] + Label {
    width: auto;
  }

  input[type='checkbox'] + label,
  .sessionTimeRow input[type='radio']:first-of-type + label {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  input[type='checkbox'] + label,
  .sessionTimeRow input[type='radio']:last-of-type + label {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .sessionTimeRow h2 {
    min-width: 6em;
  }

  .stickyFloat {
    top: 57px;
  }
}

@media only screen and (min-width: 730px) {
  legend span h2 {
    top: 14px;
  }
  .stickyFloat {
    top: 59px;
  }
}

@media only screen and (min-width: 890px) {
  /* Make the 'drop down box row' have no wrap. */

  .ticketDropdownBox {
    max-width: 100%;
    flex-wrap: nowrap;
    min-width: 822px;
  }

  .customerDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .customerInput {
    margin-inline: 2vw;
  }
  /* .stickyFloat {
    top: 59px;
  } */
}

@media only screen and (min-width: 1200px) {
  .ticketDropdownBox {
    max-width: 48%;
  }

  .bookingTickets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .stickyFloat {
    top: 61px;
  }
}

@media only screen and (min-width: 1700px) {
  .stickyFloat {
    top: 65px;
  }
}
