@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div style="display: flex; flex-direction: row;">
    <div style="width: 50%; font-size: 1.2em; margin-right: 20px;">
        <!-- Privacy Policy taken from https://www.bendigobank.com.au/privacy-policy/full-privacy-policy/ -->
        <p>
            We recognise the importance of protecting your privacy and are committed to ensuring 
            the continued integrity and security of the personal information you entrust to us.
        </p>
        <p>
            We appreciate that the success of our business is largely dependent upon a relationship 
            of trust being established and maintained with past, current and prospective customers, 
            shareholders and other individuals with whom we conduct business. We will therefore continue 
            to collect and manage your personal information with a high degree of diligence and care.
        </p>
        <p>
            Our aim is to comply at all times with the privacy laws (incorporating the Australian Privacy 
            Principles) that apply to us. If you have a comment, query or complaint regarding a privacy 
            matter, we encourage you to discuss it with us.
        </p>
    </div>
    <div>
        <!-- Image taken from https://www.pexels.com/photo/blue-and-yellow-high-rise-building-2042538/ and used for educational purposes only. -->
        <img src="~/img/bank_img.jpg" style="max-height: 600px;" />
    </div>
</div>